<!DOCTYPE html>
<html lang="en">
<head>
	<title>Ayurdata</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--===============================================================================================-->
    <script src="bootstrap-4.0.0\dist\js\bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--===============================================================================================-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!--===============================================================================================-->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <style>
    
        body{
            background-image: url('{{ url_for("static", filename="images/login_bg.jpg") }}');
            background-repeat: no-repeat;
/*            background-size:cover;*/
        }
        form{
            background-color: rgba(52, 73, 85, 0.95);
            box-shadow: 10px 10px 10px #232f34 ;
            border-radius: 5px ;
            padding: 20px;
            padding-bottom: 30px;
            margin-top: 20%;
            color: black;
        }
        .login-head{
            font-size: 40px;
            font-family: monospace;
            font-weight: bold;
            text-align: center;
            color: white;
        }
        label{
            color: #f9aa33;
            font-size: 20px;
        }
        #login{
            width: 100%;
            margin-top: 40px;
            background-color: #f9aa33;
            font-size: 17px;
            color: #232f34 ;
            font-weight: 600;
            border: 0;
            box-shadow: 0px 0px 0px;
        }
    </style>
</head>
<body>
	
    <div class="container col-lg-4 col-md-6 col-sm-6">
        <form method="Post" action="">
        <div class="login-head">LOGIN</div>
        <div class="form-group">
            <label for="user">Username</label>
            <input type="text" id="user" name="user" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" id="pass" name="pass" class="form-control"/>
        </div>
            <button type="submit" id="login" class="form-control">Login</button>
        </form>
    </div>
    
</body>
</html>